doc/
lib/
obj/
build/
src/slsm.h
demos/bimodal
demos/bimodal_brolly
demos/minimise_area
demos/minimise_perimeter
demos/minimise_perimeter_constrained
demos/shape_match
demos/dumbbell
tests/boundary_tests
tests/fast_marching_tests
tests/heap_tests
tests/level_set_tests
tests/mesh_tests
*.dSYM
*.so
*.txt
*.vtk
.compiler_flags
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
install_manifest.txt
