doc/
lib/
obj/
peter/
khalid/
notes/
web/
src/lsm.h
demos/minimise_area
demos/minimise_perimeter
demos/minimise_area_constrained
demos/minimise_perimeter_constrained
demos/shape_match
demos/dumbbell
demos/umbrella
tests/boundary_tests
tests/fast_marching_tests
tests/heap_tests
tests/level_set_tests
tests/mesh_tests
*.dSYM
.compiler_flags
